<!DOCTYPE html>
<html lang="en">
  <head>
    Google tag (gtag.js) 
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LEGMCTW1RN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LEGMCTW1RN');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RDR Long Critique Splitter</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">
    <link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta og:title="Long Critique Splitter">
    <meta og:description="Tool to split up text into groups of up to 9990 characters">
    <meta og:image="https://opengraph.githubassets.com/{{ hash }}/jupediaz/chatgpt-prompt-splitter">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <!--<div class="header-logo">
          <a href="/"><img src="static/chatgpt_prompt_splitter.png" alt="Logo" class="logo"/></a>
        </div> -->
        <div class="header-text">
          <h1>RDR Long Critique Splitter</h1>
          <h2>A slapdash tool to split up text to fit within Reddit's 10,000-character comment limit<h2>
          <!-- <div class="how-this-works"><a href="https://medium.com/@josediazmoreno/break-the-limits-send-large-text-blocks-to-chatgpt-with-ease-6824b86d3270" target="_blank">How this works</a></div> -->
        </div>
      </div>
      <div class="visits">Visit count: {{ visit_count }}</div>
      <form action="/" method="post">
        <div class="form-group">
          <label for="prompt">Enter the text to be split below.</label>
          <textarea class="form-control" id="prompt" name="prompt" rows="10">Enter text to be split into comments here.</textarea>
          <br>
          <help>The Reddit comment character limit is 10,000 characters. Splitting at 9,990 characters leaves wiggle room for a [post number/total posts] thread tracker thingy to be added to the top of each comment.</help>
          <div class="char-count-container">
            <span id="prompt-char-count">{{ prompt|length }}</span> characters
          </div>
        </div>
        <label for="split_length">Max chars length for each split part</label>
        <select name="preset" id="preset" onchange="toggleCustomLength(this)" required>
            <option value="9990" {% if split_length == 9990 or split_length is none or split_length == '' %}selected{% endif %}>Default 9,990</option>
            <option value="custom" {% if split_length != 8000 and split_length != 9990 and split_length != '' and split_length is not none %}selected{% endif %}>Custom</option>
        </select>
        <input type="number" name="split_length" class="custom-length" id="split_length" min="1" required value="{{ split_length if split_length is not none and split_length != '' else 9990 }}" {% if split_length == 8000 or split_length == 9990 or split_length is none or split_length == '' %}style="display: none;"{% endif %}>
        <help>Choose the max length for each split part.</help>
        <button type="submit" id="split-btn" class="{% if btn_disabled %}disabled{% endif %}"{% if btn_disabled %} disabled{% endif%}>Enter text</button>
      </form>
      {% if file_data %}
      <div class="instructions">
        <h3>Instructions</h3>
        <pre id="instructions">
Paste your critique/long post into the text box above. Markdown shouldn't be affected by this.

-  I usually write my stuff in the notes app on my phone/computer, with rich text enabled, then paste it into <a href="https://euangoddard.github.io/clipboard2markdown/">this nifty markdown converter</a>.
-  I put a # in front of header sections as I write them to keep that formatting here, otherwise it ends up being marked as bolded text.
-  I also manually add the >> in front of quoted text to keep the pullquotes.  I don't know if this is necessary, but it doesn't exactly take me any extra time to do it.
	</pre>
        <!-- <button type="button" class="copy-btn" id="copy-instructions-btn" onclick="copyInstructions()">Copy Instructions (first message to send)</button>
        <help>This way we explain ChatGPT how to process the messages we are gonna send.</help> -->
      </div>
        <button type="button" class="copy-btn" id="copy-instructions-btn" onclick="copyInstructions()">Copy Instructions (first message to send)</button>
        <help>This way we explain ChatGPT how to process the messages we are gonna send.</help>
      </div>
      <div class="buttons-container">
        {% for file in file_data %}
        {% set partNumber = file.name[6:9]|int %}
        {% set totalParts = file.name[13:16]|int %}
        <button class="copy-btn" data-content="{{ file.content }}" onclick="copyToClipboard(this)">Copy part {{ partNumber }}/{{ totalParts }} to clipboard</button>
        {% endfor %}
      </div>
      {% endif %}
      <footer>
        <p>
          If something doesn't work, it's because I don't know how to fix it. A monkey with a typewriter could do a better job of this than me.
          Based off of <a href="https://jjdiaz.dev" target="_blank">jjdiaz.dev</a>'s  <a href="https://github.com/jupediaz/chatgpt-prompt-splitter" target="_blank">chatgpt prompt splitter</a>.
        </p>
      </footer>
      <div class="powered-by-vercel"><a href="https://vercel.app/" target="_blank"><img src="static/powered-by-vercel.svg" alt="Powered by Vercel" /></a></div>
    </div>
    <script src="static/scripts.js"></script>
  </body>
</html>
