body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 1.25rem;
}

html {
    height: 100%;
}

*,
textarea,
input {
    box-sizing: border-box;
    font-family: inherit;
}

.container {
    max-width: 80%;
    min-width: 50%;
    margin: 0 auto;
    padding: 1.25rem;
    background-color: #282828;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.1);

}

/*h1,
h2 {
    text-align: center;
    width: 100%;
    margin: 0;
}*/

p.logo {
    font-size: 12.5rem;
}
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
}

label {
    display: block;
    font-weight: bold;
    margin-top: .625rem;
}

textarea,
input {
    width: -webkit-fill-available;
}

textarea {
    width: 100%;
    height: 12.5rem;
    margin-bottom: 1.25rem;
}

button {
    display: block;
    width: 100%;
    padding: .625rem;
    background-color: #0056b3;
    color: #fff;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
    margin-top: 1.25rem;
}

button:hover {
    background-color: #007bff;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.25rem;
}

.copy-btn,
.copy-instructions-btn {
    padding: .625rem;
    border: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
}

.copy-btn {
    background-color: #0056b3;
    flex-basis: min-content;
    margin-bottom: .625rem;
}

.copy-btn:hover {
    background-color: #007bff;#0056b3;
}

.clicked {
    background-color: #888;
    color: #ccc;
}

.clicked:hover {
    background-color: #666;
}

.copy-instructions-btn {
    background-color: #0056b3;
    margin-top: .625rem;
}

.copy-instructions-btn:hover {
    background-color: #007bff;
}

.custom-length {
    font-size: 1.25rem;
    width: 6.25rem;
    height: 2rem;
}

select {
    height: 24px;
}

.instructions {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    background-color: #a5a5a563;
    padding: .0625rem .625rem .625rem .625rem;
}

help {
    font-size: 1.25rem;
    color: #888;
}

button[disabled] {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.char-count-container {
    text-align: right;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    max-width: 90%;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
}

.header-logo {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: .625rem;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
    padding: 1rem;
    background-color: #f8f8f860;
    border-radius: .3rem;
}

footer {
    margin-top: 1.25rem;
    padding-top: .625rem;
    border-top: 1px solid #ccc;
    display: flex;
    width: 100%;
    bottom: 0;
    font-size: 1rem;
}

.left,
.right {
    width: 50%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.powered-by-vercel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;
}

.powered-by-vercel img {
    width: 11rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visits {
    text-align:right;
    font-size: 1rem;
}

.how-this-works {
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
}

/* @media (min-width: 768px) {
    textarea {
        height: 18.75rem;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 1.25rem;
    }

    h2 {
        font-size: 2.25rem;
        margin-bottom: 1.875rem;
    }
} */

/* unvisited link */
a:link {
    color: #0056b3;
  }
  
  /* visited link */
  a:visited {
    color: #007bff;
  }
  
  /* mouse over link */
  a:hover {
    color: #ccc;
  }
  
  /* selected link */
  a:active {
    color: #888;
  }
